# Exceções padrão
*.log
*.tmp
*.swp
*.bak
*.pyc
*.pyo
.DS_Store
Thumbs.db
__pycache__/
.env
.vscode/
.idea/
node_modules/
.obsidian/

# Ignorar atualizações futuras
fase_1_diagnostico/dados/dados_iniciais/
fase_1_diagnostico/infra/minio/data/


